.pens-gallery{
    width: 100%;
    margin: auto;
    margin-top: 6rem;
    padding: 3rem;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(300px, 1fr));
}

