*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#root{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

textarea, iframe{
  width: 100%;
  height: 100%;
  resize: none;
}
textarea{
  background-color: #3a3a3a;
  padding: 15px;
  color: #bebebe;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
textarea:focus{
  outline: none;
}
.editor{
  width: 100%;
  height: 100%;
  position: relative;
}
.editor > svg{
  position: absolute;
  top: -10%;
  right: -20%;
  transform: scale(.5);
  filter: grayscale(100%);
  opacity: .5;
  transition: filter, opacity .5s;
}

.editor:focus-within > svg{
  filter: grayscale(20%);
  opacity: .7;
}